<plugins>
  <plugin name="plugin1" app="test" class="sunflare.examples.plugins.Plugin1" desc="Description of Action 1" />
  <plugin name="plugin2" app="test" class="sunflare.examples.plugins.Plugin2" desc="Description of Action 2" />
  <plugin name="plugin3" app="test" class="sunflare.examples.plugins.Plugin3" desc="Description of Action 3" />
  <plugin name="up" app="mousecontroller" class="sunflare.examples.plugins.UpMove" desc="Mouse Up Move" />
  <plugin name="down" app="mousecontroller" class="sunflare.examples.plugins.DownMove" desc="Mouse Down Move" />
  <plugin name="left" app="mousecontroller" class="sunflare.examples.plugins.LeftMove" desc="Mouse Left Move" />  
  <plugin name="right" app="mousecontroller" class="sunflare.examples.plugins.RightMove" desc="Mouse Right Move" />  
  <plugin name="write" app="mousecontroller" class="sunflare.examples.plugins.WriteMove" desc="Write" />  
</plugins>
